@charset "utf-8";

@import "../../c/global/base.less";


.resource-item {

  .label {

    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 30px 0 10px;
    position: relative;

    .remove-btn {

      position: absolute;
      right: 5px;
      top: 8px;
      color: #f40;
      cursor: pointer;

      width: 15px;
      height: 15px;
      line-height: 1;
      text-align: center;
      border: 1px solid #f40;
      border-radius: 50%;

    }

  }

}
